<section class="w-full lg:h-screen h-full">
  <article>
    <h1>El Premio a la Creación</h1>
    <img class="" src="../../../public/img/info-img4.webp" alt="" />
    <p>
      El trofeo que se entrega a los ganadores y ganadoras en la ceremonia es
      una representación de la letra “A” dividida en tres fragmentos y
      ensambladas a modo de artilugio futurista sobre el que se construye la
      narrativa del evento. Un artefacto de origen desconocido que dota de
      herramientas y habilidades para la creación. Una metáfora sobre la
      emancipación del talento gracias a la tecnología y la irrupción de los
      creadores de contenido en el mundo del entretenimiento.
    </p>
  </article>
</section>
