<main
  class="w-full h-full relative overflow-hidden flex justify-center items-center"
>
  <div
    class="flex flex-col lg:items-end items-center h-full max-w-[85%] lg:py-32 py-10 relative container"
  >
    <div class="reltative lg:absolute w-full revelar z-0">
      <img
        class="h-auto lg:w-1/2 w-full object-center ms-auto"
        src="/img/info-img1.webp"
        alt="Foto-de-Info"
      />
    </div>
    <div class="w-full flex flex-col lg:items-start mx-auto text-left z-10">
      <h1
      class="lg:text-4xl text-xl py-10 stext-left lg:max-w-[40%] font-medium revelar"
    >
      Un reconocimiento único para creadores, creadoras y comunidades que buscan
      su lugar en el mundo del entretenimiento en directo.
    </h1>
      <p class="text-xl mt-4 leading-normal lg:max-w-[40%] font-extralight revelar">
        Los Premios ESLAND son una iniciativa privada promovida por el célebre
        streamer TheGrefg y buscan apoyar y reconocer la creación de contenido
        en el ámbito hispanohablante.
      </p>
      <p class="mt-8 text-xl leading-normal lg:max-w-[40%] font-extralight revelar">
        ESLAND es el acrónimo de ESPAÑA, LATINOAMÉRICA Y ANDORRA, tres
        localizaciones geográficas que comparten el idioma que las une más allá
        de cualquier frontera, ya sea física o virtual.
      </p>
    </div>
  </div>
</main>
