<section class="w-full lg:h-screen h-full">
  <article>
    <h1>
      Un reconocimiento único para creadores, creadoras y comunidades que buscan
      su lugar en el mundo del entretenimiento en directo.
    </h1>
    <img class="" src="../../../public/img/info-img1.webp" alt="" />
    <p>
      Los Premios ESLAND son una iniciativa privada promovida por el célebre
      streamer TheGrefg y buscan apoyar y reconocer la creación de contenido en
      el ámbito hispanohablante. ESLAND es el acrónimo de ESPAÑA, LATINOAMÉRICA
      Y ANDORRA, tres localizaciones geográficas que comparten el idioma que las
      une más allá de cualquier frontera, ya sea física o virtual.
    </p>
  </article>
</section>
