<section class="h-screen relative flex flex-col justify-center items-center">

    <h1 class="text-4xl text-center">LOS PREMIOS ESLAND</h1>
    <div class="h-auto max-w-full absolute top-0 bottom-0 -z-10">
        <img class="w-full h-full  object-center" src="../../public/img/ESLAND_WALLPAPER_06.webp" alt="fondo de los Esland"
        style="clip-path: polygon(0 0, 100% 0, 100% 75%, 50% 100%, 50% 100%, 0 75%);">
    </div>
</section>