---
import Prensa from "./Prensa.astro";
---

<section class="h-full px-8 py-16">
    <h1 class="text-center text-5xl">
        KIT DE PRENSA
    </h1>
    <div class="grid lg:grid-cols-3 grid-col-1 lg:gap-x-32 mt-12 gap-x-0 w-full">
        <Prensa title="LOGOTIPO Y TROFEO"
        img='../../public/img/logo-y-trofeo.webp'
        descripcion="foto-de-los-esland"
        href="#"
        ></Prensa>
        <Prensa title="FONDO DE PANTALLA"
        img='../../public/img/fondos-de-pantalla.webp'
        descripcion="foto-de-los-esland"
        href="#"
        ></Prensa>
        <Prensa title="nota prensa"
        img='../../public/img/nota-de-prensa.webp'
        descripcion="foto-de-los-esland"
        href="#"
        ></Prensa>
    </div>
</section>