<div>
<nav class="flex flex-grow justify-between items-center px-24 py-5 bg-blue-950 text-white font-bold">
    <div class="flex justify-center items-center">
        <img class='mr-8' src='../../public/img/logo-header.png' alt='logo-de-esland'>
        <a class='px-8 py-4' href='#'>INFO</a>
        <a class='px-6 py-4' href='#'>ARCHIVO</a>
    </div>
    <div class="flex flex-grow justify-end">
        <a class='border-[1px] px-6 py-[10px] rounded-[75px] text-xl border-white' href='#'>ESLAND: EL DOCUMENTAL
        </a> 
    </div>
</nav>
</div>