<section>
    <div class="flex flex-grow justify-between [&&>nav]:gap-y-2 [&&>nav]:flex [&&>nav]:flex-col">
        <nav>
            <h1>LEGAL</h1>
            <a>AVISO LEGAL</a>
            <a>PRIVACIDAD</a>
            <a>COOKIES</a>
        </nav>
        <nav>
            <h1>WEB APP</h1>
            <a>HOME</a>
            <a>INFO</a>
            <a>ARCHIVO</a>
        </nav>
        <nav>

        </nav>
        
    </div>
</section>