<section class="h-screen relative flex flex-col justify-center items-center">
    <h1 class="text-4xl text-center uppercase">Ediciones anteriores</h1>
    <div class="h-auto max-w-full absolute top-0 bottom-0 -z-10">
        <img class="w-full h-full  object-center" src="../../public/img/ESLAND_WALLPAPER_06b.webp" alt="fondo-Archivo">
    </div>
    <a class="border-[2px] rounded-3xl mt-20 text-normal text-center px-14 py-3 uppercase content">Revive la última gala</a>
</section>