---
import { Items } from "./Items";
---

<section class="bg-gradient-to-b from-inherit to-[#007aff]">
  <article class="p-20 flex flex-col justify-center items-center">
    <h1 class="uppercase text-4xl">Galería</h1>
    <h2 class="font-extralight text-xl mt-20 mb-10 text-center">
      Algunos de los mejores momentos de la gala pasarán a la historia
    </h2>
    <Items client:visible />
  </article>
</section>
