<section>
  <article class="p-20 flex flex-col justify-center items-center">
    <h1 class="uppercase text-4xl">Galería</h1>
    <h2 class="font-extralight text-xl mt-20 mb-10 text-center">
      Algunos de los mejores momentos de la gala pasarán a la historia
    </h2>
    <div
      id="custom-controls-gallery"
      class="relative w-full"
      data-carousel="slide"
    >
      <div id="important" class="relative grid-container">
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg"
            alt=""
          />
        </div>
        <div id="items">
          <img
            class="h-auto max-w-full"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg"
            alt=""
          />
        </div>
      </div>
      <div class="flex justify-center items-center pt-4 sm:hidden">
        <button
          type="button"
          class="flex justify-center items-center me-4 h-full cursor-pointer group focus:outline-none"
          data-carousel-prev
        >
          <span
            class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white"
          >
            <svg
              class="rtl:rotate-180 w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M13 5H1m0 0 4 4M1 5l4-4"></path>
            </svg>
            <span class="sr-only">Previous</span>
          </span>
        </button>
        <button
          type="button"
          class="flex justify-center items-center h-full cursor-pointer group focus:outline-none"
          data-carousel-next
        >
          <span
            class="text-gray-400 hover:text-gray-900 dark:hover:text-white group-focus:text-gray-900 dark:group-focus:text-white"
          >
            <svg
              class="rtl:rotate-180 w-5 h-5"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 14 10"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M1 5h12m0 0L9 1m4 4L9 9"></path>
            </svg>
            <span class="sr-only">Next</span>
          </span>
        </button>
      </div>
    </div>
  </article>
</section>
<style>
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1rem;
  }
  .slider-item {
    position: absolute;
    display: block;
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-y: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y))
      rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y))
      scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    top: 50%;
    left: 50%;
  }
</style>
<script>
  var x = window.matchMedia("(width<=640px)");
  let y = document.querySelectorAll("#items");
  let imgs = document.querySelectorAll("img");
  const z = document.getElementById("important");
  function addAttribute() {
    if (x.matches) {
      z?.classList.add("overflow-hidden");
      z?.classList.add("h-96");
      z?.classList.remove("grid-container");
      y?.forEach((y) => {
        y.classList.add("hidden");
        y?.classList.add("duration-700");
        y?.classList.add("ease-in-out");
        y?.setAttribute("data-carousel-item", "");
      });
      
      y[1].setAttribute("data-carousel-item", "active");
      console.log(imgs[0]);
    } else {
      z?.classList.remove("overflow-hidden");
      z?.classList.remove("h-56");
      z?.classList.add("grid-container");
      y.forEach((y) => {
        y?.classList.remove("hidden");
        y?.classList.remove("duration-700");
        y?.classList.remove("ease-in-out");
        y?.removeAttribute("data-carousel-item");
      });
      
    }
  }
</script>
