---
import Nominacion from "./Nominacion";
---

<section class="w-full">
  <article class="p-20 w-full flex flex-col items-center h-auto relative">
    <h1 class="text-4xl uppercase">Palmarés</h1>
    <Nominacion client:visible />
  </article>
</section>