---
import Cartilla from "./Cartilla.astro";
---

<section class="w-full">
  <article class="p-20 w-full flex">
    <h1 class="text-4xl uppercase">Palmarés</h1>
    <Cartilla
      name="ibai"
      comunidad="41.05"
      streamers="75.6"
      totals="58.33"
      puesto="1ro"
    />
    <Cartilla
      name="auronplay"
      comunidad="32.85"
      streamers="8.1"
      totals="20.48"
      puesto="2do"
    />
  </article>
</section>
