---
const { encabezado, encabezado2, img, descripcion } = Astro.props;
---

<article class="flex flex-col justify-center items-center relative md:h-screen h-full ">
  <div class="w-[70%] m-4">
    <h1 class="text-4xl leading-[1.2em]">
      {encabezado}
    </h1>
    <h2 class="text-2xl font-semibold mb-8 mt-4 text-[#c1c1c1]">
      {encabezado2}
    </h2>
    <p class="text-left">
      <slot />
    </p>
    <slot />
  </div>
  <div class="absolute h-full left-0 right-0 top-0 -z-10">
    <img
      class="object-center object-cover h-full  w-full opacity-20"
      src={img}
      alt={descripcion}
    />
  </div>
</article>
