
<section class="w-full h-full lg:h-screen relative overflow-hidden "
style="background-image: url('/img/home-bg-1.png');"
>
<article class="w-auto flex flex-col items-start md:pl-20  h-auto pl-0 bg-blend-luminosity bg-fill md:bg-inherit bg-blue-500 "> 
   <h1 class="text-4xl pt-16  text-center md:text-left z-10 max-w-[85%] mx-auto sm:mx-0 md:max-w-[38%]">DISFRUTA DEL REDDIT DE LA COMUNIDAD
    </h1>
    <div class="reltative md:absolute w-full top-0 bottom-0 md:left-40 left-0 z-0 ">
        <img class="h-full object-center object-contain m-auto w-full opacity-75" src="/img/laptop_esland.010d733a.webp">
    </div>
    <div class="pb-8 md:pb-0  w-full flex flex-col  md:items-start items-center mx-auto  text-left  z-10">
        <p class=" my-12 text-xl leading-9 md:max-w-[40%] font-extralight max-w-[85%] ">Este año, el reddit no formará parte de las votaciones de los premios, pero sí que formará <strong>parte de la comunidad</strong>. El subreddit oficial de los Premios ESLAND está abierto para ti, para que compartas tus clips, tus opiniones y para que <strong>interactúes con toda la comunidad</strong> del streaming hispanohablante.
        </p>
        <a class="border-[2px] rounded-3xl text-xl text-center px-24 py-3 content">ÚNETE</a>
</div>
</article>
</section>