<section class="relative overflow-hidden w-screen h-screen">
    <div class="flex flex-col flex-grow h-screen justify-center items-start w-2/5 mx-14 relative z-20">
    <h1 class="text-4xl">DISFRUTA DEL REDDIT DE LA COMUNIDAD
        </h1>
    <p class="my-16 text-left text-xl leading-9">Este año, el reddit no formará parte de las votaciones de los premios, pero sí que formará <strong>parte de la comunidad</strong>. El subreddit oficial de los Premios ESLAND está abierto para ti, para que compartas tus clips, tus opiniones y para que <strong>interactúes con toda la comunidad</strong> del streaming hispanohablante.
        </p>
    <a class="border-[1px] rounded-3xl text-xl px-10 py-2">ÚNETE</a>
</div>
    <div class="absolute top-0 bottom-0 w-screen">  
<img class="object-center object-cover h-4/5  opacity-60 -z-10" src="../../../public/img/laptop_esland.010d733a.png">
</div>
</section>