---
import InfoSection from "./InfoSection.astro";


const imagen1 = "/img/grefposing.webp";
const imagen2 = "/img/pistas.webp";
---

<section class="flex flex-grow relative overflow-hidden w-full">
  <div class="grid lg:grid-cols-2 grid-cols-1 w-full">
    <InfoSection
      encabezado="LA ALFOMBRA BLANCA"
      encabezado2="16 de febrero de 2024"
      img={imagen2}
      descripcion="foto del paisaje"
    >
      Este año, el momento de la alfombra azul será sustituido y mejorado,
      gracias a los increíbles paisajes andorranos, por una <strong
        >alfombra blanca en plena nieve</strong
      >, situada en las <strong>pistas de esquí de Andorra.</strong>
    </InfoSection>
    <InfoSection
      encabezado="LA GALA"
      encabezado2="17 de febrero de 2024"
      img={imagen1}
      descripcion="foto del paisaje"
    >
      Una gala de premios llena de contenido de <strong
        >primer nivel y muchas sorpresas</strong
      >, en la que se descubrirán los <strong>ganadores</strong> de esta tercera
      edición de los Premios ESLAND.
    </InfoSection>
  </div>
</section>
